@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Mynerve&family=Shantell+Sans:ital@1&family=Source+Code+Pro&family=Ubuntu&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    flex: 0 80px;
}

section {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

form {
    font-family: 'Indie Flower';
}

footer {
    flex: 0 30px;
}



menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

menu li {
    padding: 0 1em;
    font-family: 'Mynerve';
    font-size: 1.2em !important;
    color: lightseagreen;
}

.navbar-brand {
    padding-left: 0.4em;
    font-family: 'Mynerve';
    font-size: 2.5em !important;
}

.input-group {
    align-self: flex-end;
    height: 40px;
}

#searchbaroutline {
    width: 200px;
}

.title-card {
    font-family: 'Indie Flower';
    margin: 1rem 0;
    border-radius: 0.25rem;

    background-image: url(spiritedawaywallpaper.png);
}

.title-title {
    color: white;
    font-family: 'Indie Flower';
}

.title-description {
    color: white;
}

.searchbutton {
    width: 70px !important;
    border-radius: 0.25rem;
    background-color: #00adef;
    border: none;
}